.links-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  margin-top: 2rem;
}

.link-item {
  background-color: var(--yellow);
  padding: 1rem;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.link-item a {
  text-decoration: none;
}

.link-item:hover {
  /* background-color: var(--black); */
  transition: all 0.7s ease-in-out;
  transform: scale(1.1);
  box-shadow: var(--box-shadow-light);
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1024px) {
  .links-list {
    gap: 1rem;
  }

  .link-item {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
