@import "../../variables/variables.module.css";

.card > ul {
  margin-left: 2rem;
  padding: 0;
  list-style: none;
}

.card-skills > ul {
  margin-left: 2rem;
  padding: 0;
  list-style: none;
}

.list-items {
  font-size: var(--step--2);
  margin: 0.7rem 0;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) {
  .card ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .card-skills > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .card ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .card-skills > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
