.header-container {
  background-color: var(--gradientColor);
  width: 100%;
  max-width: 144rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  height: 5rem;
  width: 60%;
}
